export CLICKUP_TOKEN=
export CLICKUP_USER_ID=
export CLICKUP_TEAM_ID=
export VAULT_ADDR=
export VAULT_NAMESPACE=
export VAULT_USER=
export VAULT_PASS=
export MACHINE_ENV=
export BIM_USER=
export BIM_PASS=
export FINNEGAN_USER=
export FINNEGAN_PASS=
export KEYBOARD_TYPE=
